html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
div{
    width: 780px;
    height: auto;
    background-color: tomato;
    padding: 10px;
    border: 5px solid rgb(181, 138, 138);
    border-radius: 10px;
}

img{
    width: 780px;
    height: auto;
}